<li class="restaurant-item">
  <article>
    <h2><%= restaurant.name %></h2>
    <div class="restaurant-meta">
      <p><%= restaurant.cuisine %></p>
      <p><%= restaurant.address %></p>
      <!-- The keys used in here like "name" and "cuisine" are the same keys written inside the .json file. -->
    </div>
    <p><%= restaurant.description %></p>
    <div class="restaurant-actions">
      <a href="<%= restaurant.website %>">View Website</a>
      <!-- We can use EJS placeholders in "attribute values" as well. -->
      <!-- We can use EJS placeholders in actually anywhere on this ejs file. -->
    </div>
  </article>
</li>
